<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none"  color="primary">
      <ion-title>{{'FRIENDS' | translate}}</ion-title>
      <ion-searchbar [showCancelButton]="miStringDeCancell" (keyup.enter)="onInput($event.target.value)" (ionCancel)="onCancel($event)">
      </ion-searchbar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngFor="let p of friends; let i = index" lines="none">
    <ion-card>
      <ion-card-header (click)="toProfile(p)">
        <ion-item lines="none">
          <img [src]="p.portrait" shape="round" alt="" style="max-width: 6em; max-width: 6em;">
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-label (click)="toProfile(p)"><strong>{{p.username}}</strong></ion-label>
        <ion-fab *ngIf="isremovable" style="z-index: 10; max-width: 1em; max-height: 1em;" vertical="bottom" horizontal="end" slot="fixed"
          (click)="remove(p.id)">
          <ion-fab-button color="danger" style="max-width: 1em; max-height: 1em;">
            <ion-icon name="person-remove"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-card-content>
    </ion-card>
  </ion-item>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" [loadingText]="'LOADING' | translate">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>