<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="arrow-back" (click)="back()"></ion-icon> {{'PUBLICATION' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="publication" (ngSubmit)="this.sendForm()" style="text-align: center;">
    <ion-item>
      <ion-input style="max-width: 70%;" type="text" formControlName="text" [placeholder]="'PUBLICATION' | translate" (ionChange)="textChange()">
      </ion-input>
    </ion-item>
    <ion-item lines="none" style="text-align: center;">
      <ion-button color="secondary" (click)="addImage()">{{'IMAGE' | translate}}
      </ion-button>
      <ion-button color="secondary" (click)="addCoordinates()">{{'COORDINATE' | translate}}
      </ion-button>
    </ion-item>


    <ion-item lines="none" style="text-align: center;">
      <ion-button color="secondary" (click)="addVideo()">{{'VIDEO' | translate}}
      </ion-button>
      <ion-button color="secondary">{{'AUDIO' | translate}}
      </ion-button>
    </ion-item>







    <ion-button shape="round" color="secondary" fill="outline" type="reset" disabled *ngIf="!publication.valid">
      {{'ENTRY' | translate}}
    </ion-button>
    <ion-button shape="round" color="secondary" fill="outline" type="submit" *ngIf="publication.valid">{{'ENTRY' |
      translate}}
    </ion-button>
  </form>





  
  <ion-card class="publication">
    <ion-card-header>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img [src]="post.user.portrait" alt="">
        </ion-avatar>
        <ion-label><strong>{{post.user.username}}</strong></ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let img of post.images" alt="">
        <img [src]="img.url" />
      </div>
      <div lines="none" id="mapPub" style="width: 100%; height: 100% !important; float: left; padding-bottom: 20em;" *ngIf="showMap">
      </div>
      {{post.text}}
    </ion-card-content>
  </ion-card>

</ion-content>